/*font style for WSN dining mapbox maps
  made by tori morales
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 530px;
}

.marker {
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    border: none;
}

.half {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
    width: 20px;
    height: 20px;
    fill: white;
    stroke: black;
    stroke: none;
    transform: rotateZ(90deg);
    z-index: 1;
}

.label {
    display: block;
    position: relative;
    min-width: 60px;
    width: fit-content;
    max-width: 125px;
    background-color: rgb(255, 255, 255);


    margin: 0;
    z-index: 1000;
    padding: .5rem;
    border-radius: 12%;
    transform: translateY(6px);
}

.address {
    color: rgb(95, 95, 95);
    font-size: .75rem;
    position: relative;
    width: fit-content;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.name {
    color: rgb(206, 27, 27);
    font-size: 1rem;
    position: relative;
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: .1rem;
    margin: 0;
    padding: 0;
}

p {
    z-index: 1000;
}
#left{
    transform: translateX(-84%) translateY(5px);
    z-index: 1111;
}
@media screen and (max-width:800px) {
    #map{
        width: 500px;
        height: 325px;
    }

    .label{
        max-width: 90px;
        transform: translateY(6px) translateX(-1px);
    }

    #left{
        transform: translateY(6px) translateX(-81%);
    }

    .address{
        font-size: .55rem;
    }

    .name{
        font-size: .8rem;
    }
}